<div id="frame" class="marginBottom">
    <h1>Lista de Fragmentos</h1>
    <div class="form-filtro">
        <form id="filtrar" action="{{ path('fragmento') }}" method="post">
            <div class="input-append">
                <input  id="filtro" value="{{ filtro }}" placeholder="Filtar..." name="filtro" autofocus/>
                <button type="submit" class='btn add-on texto-negro cargando'>
                    <i class="icon-search"></i>
                </button>
            </div>
            <a href="#" onclick="cargarEnGestion('{{ path('fragmento') }}');">Eliminar filtro</a>
        </form>
    </div>
    <table  id="tabla1" class="records_list row-fluid display table">
        <thead>
            <tr>
                {# sorting of properties based on query components #}
                <th>
                    {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}
                    {% if sort=='a.id' %}
                        {% if direction=='asc' %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_asc.png')}}" alt="">
                        {% else %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_desc.png')}}" alt="">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/proyectobackend/images/sort_both.png')}}" alt="">
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('a.nombre') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Nombre', 'a.nombre') }}
                    {% if sort=='a.nombre' %}
                        {% if direction=='asc' %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_asc.png')}}" alt="">
                        {% else %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_desc.png')}}" alt="">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/proyectobackend/images/sort_both.png')}}" alt="">
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('a.primeraLetra') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Primera letra', 'a.primeraLetra') }}
                    {% if sort=='a.primeraLetra' %}
                        {% if direction=='asc' %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_asc.png')}}" alt="">
                        {% else %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_desc.png')}}" alt="">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/proyectobackend/images/sort_both.png')}}" alt="">
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('a.ultimaLetra') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Última letra', 'a.ultimaLetra') }}
                    {% if sort=='a.ultimaLetra' %}
                        {% if direction=='asc' %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_asc.png')}}" alt="">
                        {% else %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_desc.png')}}" alt="">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/proyectobackend/images/sort_both.png')}}" alt="">
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('a.dosEspaciosJuntos') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Dos espacios juntos', 'a.dosEspaciosJuntos') }}
                    {% if sort=='a.dosEspaciosJuntos' %}
                        {% if direction=='asc' %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_asc.png')}}" alt="">
                        {% else %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_desc.png')}}" alt="">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/proyectobackend/images/sort_both.png')}}" alt="">
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('a.tresLetrasJuntas') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Tres letras juntas', 'a.tresLetrasJuntas') }}
                    {% if sort=='a.tresLetrasJuntas' %}
                        {% if direction=='asc' %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_asc.png')}}" alt="">
                        {% else %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_desc.png')}}" alt="">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/proyectobackend/images/sort_both.png')}}" alt="">
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('a.ratioDadasEliminadas') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Ratio dadas/eliminadas', 'a.ratioDadasEliminadas') }}
                    {% if sort=='a.ratioDadasEliminadas' %}
                        {% if direction=='asc' %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_asc.png')}}" alt="">
                        {% else %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_desc.png')}}" alt="">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/proyectobackend/images/sort_both.png')}}" alt="">
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('a.letrasDadas') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Letras dadas', 'a.letrasDadas') }}
                    {% if sort=='a.letrasDadas' %}
                        {% if direction=='asc' %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_asc.png')}}" alt="">
                        {% else %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_desc.png')}}" alt="">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/proyectobackend/images/sort_both.png')}}" alt="">
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('a.ratioVocalesConsonantes') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Ratio vocales/consonantes', 'a.ratioVocalesConsonantes') }}
                    {% if sort=='a.ratioVocalesConsonantes' %}
                        {% if direction=='asc' %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_asc.png')}}" alt="">
                        {% else %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_desc.png')}}" alt="">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/proyectobackend/images/sort_both.png')}}" alt="">
                    {% endif %}
                </th>
                <th{% if pagination.isSorted('r.nombre') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Adjetivo asociado', 'r.nombre') }}
                    {% if sort=='r.nombre' %}
                        {% if direction=='asc' %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_asc.png')}}" alt="">
                        {% else %}
                            <img src="{{asset('bundles/proyectobackend/images/sort_desc.png')}}" alt="">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/proyectobackend/images/sort_both.png')}}" alt="">
                    {% endif %}
                </th>
                <th style="min-width: 160px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="impar"{% endif %}>
                <td ><a href="#" onclick="cargarEnGestion('{{ path('fragmento_show', { 'id': article.id }) }}');">{{ article.id }}</a></td>
                <td>{{ article.nombre }}</td>
                <td>{% if article.primeraLetra == 1%}Si{%else%}No{%endif%}</td>
                <td>{% if article.ultimaLetra == 1%}Si{%else%}No{%endif%}</td>
                <td>{% if article.dosEspaciosJuntos == 1%}Si{%else%}No{%endif%}</td>
                <td>{% if article.tresLetrasJuntas == 1%}Si{%else%}No{%endif%}</td>
                <td>{{ article.ratioDadasEliminadas }}</td>
                <td>{{ article.letrasDadas }}</td>
                <td>{{ article.ratioVocalesConsonantes }}</td>
                <td>{{ article.idAdjetivo }}</td>
                <td>
                    <div>
                        <a class="btn btn-mini" href="#" onclick="cargarEnGestion('{{ path('fragmento_show', { 'id': article.id }) }}');"><i class="icon-search">&nbsp; </i>&nbsp; ver</a>
                        <a class="btn btn-mini" href="#" onclick="cargarEnGestion('{{ path('fragmento_edit', { 'id': article.id }) }}');"><i aria-hidden="true" class="icon-pencil">&nbsp; </i>&nbsp; editar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <ul class="row-fluid" style="display: inline-block">
        <li >
            <a  class="btn btn-primary" href="#" onclick="cargarEnGestion('{{path('fragmento_new')}}');">
                <i class="icon-new"> </i>  &nbsp; Crear nuevo fragmento
            </a>
        </li>
    </ul>
    <script> 
        //para que los enlaces se carguen en gestion
        $(document).ready(function(){
            $(".sortable,.asc,.desc").on('click', function(event){
                event.preventDefault();
                //si hay filtro se añade al final del enlace
                var filtro = document.getElementById('filtro').value;
                var href = $(this).attr('href');
                if(filtro!=''){
                    href = href + '&filtro=' + filtro;
                }
                cargarEnGestion(href);
            } );
            $(".pagination span a").on('click', function(event){
                event.preventDefault();
                var filtro = document.getElementById('filtro').value;
                if(filtro=='' || (/filtro/.test($(this).attr("href")))){
                    cargarEnGestion($(this).attr("href"));
                }else{
                    cargarEnGestion($(this).attr("href")+ '?filtro=' + filtro);
                }
            } );
        });
    </script>
    <script>
        cargarYmostrar();
    </script>

</div>
