<div id="frame" class="marginBottom">
    <h1>Fragmento</h1>

    <table class="tabla record_properties row-fluid">
        <tbody>
            <tr>
                <th>Id: </th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre: </th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Primera letra: </th>
                <td>{% if entity.primeraLetra == 1%}Si{%else%}No{%endif%}</td>
            </tr>
            <tr>
                <th>Ultima letra: </th>
                <td>{% if entity.ultimaLetra == 1%}Si{%else%}No{%endif%}</td>
            </tr>
            <tr>
                <th>Dos espacios juntos: </th>
                <td>{% if entity.dosEspaciosJuntos == 1%}Si{%else%}No{%endif%}</td>
            </tr>
            <tr>
                <th>Tres letras juntas: </th>
                <td>{% if entity.tresLetrasJuntas == 1%}Si{%else%}No{%endif%}</td>
            </tr>
            <tr>
                <th>Ratio dadas/eliminadas: </th>
                <td>{{ entity.ratioDadasEliminadas }}</td>
            </tr>
            <tr>
                <th>Letras dadas: </th>
                <td>{{ entity.letrasDadas }}</td>
            </tr>
            <tr>
                <th>Ratio vocales/consonantes: </th>
                <td>{{ entity.ratioVocalesConsonantes }}</td>
            </tr>
            <tr>
                <th>Adjetivo asociado: </th>
                <td>{{ entity.idAdjetivo }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions form-actions">
        <li>
            <form>
                <button class="btn-info" onclick="cargarEnGestion('{{ path('fragmento') }}')">
                    Volver a la lista
                </button>
            </form>
        </li>
        {% if admin==true %}  
            <li>
                <form id="eliminar" action="{{ path('fragmento_delete', { 'id': entity.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(delete_form) }}
                    <button class="cargando" type="submit" >Eliminar Fragmento</button>
                </form>
            </li>
        {% endif %}
        <li>
            <button class="btn-inverse" onclick="cargarEnGestion('{{ path('fragmento_edit', { 'id': entity.id }) }}');">
                Editar
            </button>
        </li>
    </ul>
    <div id="dialog-eliminar" title="Mensaje de confirmación">
        ¿Seguro que quiere eliminar este fragmento?
    </div>​
    <script>
        $("#dialog-eliminar").dialog({
            autoOpen: false,
            modal: true,
            buttons : {
                 "Confirmar" : function() {
                     return true;
                 },
                 "Cancelar" : function() {
                   $(this).dialog("close");
                   cargarYmostrar();
                   return false;
                 }
             }
        });
        $(".cargando").on("click", function(e) {
            e.preventDefault();
            $("#dialog-eliminar").dialog("open");
            $('.ui-dialog-titlebar-close').remove();
        });
        cargarYmostrar();
    </script>
</div>